.listdevicemuon{
    margin-top: 70px;
    width: 100%;
    

}
.formSearchMuon{
    display:flex;
    margin-bottom: 30px;
    padding: 10px;
    margin-right: 100px;
    }
.selectnhom{
    width: 10cm;
    margin-left: 100px;
}

.formSearchMuon .inputsearch1{
    width: 10cm;
    margin-left: 100px;
    margin-right: -40px;
}
@media only screen and (max-width: 741px){
   
    .colinput1 .inputsearch1 {
        margin-left: 10px;
        width: 5cm;
        height: 80%;
        font-size: 70%;
    }
    .bang123{
        font-size: 50%;
    }
    .selectnhom{
        margin-bottom: 10px;
    }
}
