@media only screen and (max-width: 741px){
    .btn {
        margin-left: 0px;
        
    }
    
    .grpbutton .btn{
        width: 3cm;
        height: 1cm;
    }
    .formtong{
        font-size: 70%;
    }
 
  
}